* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto",sans-serif;
    color: rgba(0,0,0,.87);
}

/* COMMON */
ol ul li {
    list-style: none;
    padding-left: 1rem;
}

a {
    text-decoration: none;
}

img {
    width: 250px;
    vertical-align: middle;
}

main .container {
    width: 70%;
    margin: auto;
    padding-top: 13rem;
}

p {
    margin: 2rem 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5rem;
}

h2,
h3 {
    font-family: 'Red Hat Display', sans-serif;
    color: #3c4043;
    font-weight: 500;
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 1.5rem;
}

i {

    font-size: 1.5rem;
}

.header-menu,
.footer-menu {
    display: flex;
    list-style: none;
}

.header-menu li {
    margin: 0 1rem;
    padding-bottom: .4rem;
    color: gray;
    font-size: .9rem;
}

li.active {
    color: #4077ed;
    border-bottom: 3px solid #4077ed;
}

/* footer */
footer {
    background-color: #f5f5f5;
    margin-top: 0;
}

.footer-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.footer-menu li {
    padding: 0 1rem;
    font-size: .7rem;
    color: gray;
    font-weight: 300;
}

.footer-option select {
    width: 160px;
}